.App {
  /*text-align: center;*/
}

.App-header {
  text-align: center;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

table {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  border-collapse: collapse;
}

tbody tr:nth-child(2n) {
  background: rgba(0,0,0,.07);
}

tr {
  height: 35px;
}

tr, td {
  border-bottom: 1px solid #e1e4e8;
}


.table-control {
  width: 80%;
  margin: auto;
}

button {
  width: 50px;
  height: 30px;
  border: none;
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

button:focus {
  outline: none;
}


